/* common region */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1200px;
}

a {
    text-decoration: none;
}

header{
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 5px 10px #b6b6b6;
}

.container {
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.width{
    width: 70%;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align {
    align-content: center;
}
/* end-common region */

/* utility */
:root {
    --boolando-header: #ff6900;
    --boolando-discount: #ff0000;
    --boolando-sustainable: #008000;
    --boolando-footer: #1a1a1a;
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.container {
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
/* end-utility */

/* region debug */
.debug * {
    border: 1px dashed;
}

.debug [class^="col-"] {
    min-height: 300px;
}
/* end-region debug */

/* region header */
#color-header{
    background-color: var(--boolando-header);
}

nav>div>img {
    width: 10rem;
}

a {
    color: white;
}

#main-menu{
    padding: 2rem 0rem;
    justify-content: space-between;
    width: 70%;
}
/* end-region header */

/* region main */
/* cards */
.like {
    position: relative;
}

.heart {
    background-color: white;
    padding: 5px;
}

.section-cards {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.discount {
    color: white;
    background-color: var(--boolando-discount);
    position: absolute;
    padding: 5px;
    bottom: 5px
}

.category {
    color: white;
    background-color: var(--boolando-sustainable);
    position: absolute;
    padding: 5px;
    bottom: 5px;
    left: 50px;
}

.section-cards{
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
}

.left-menu {
    padding-right: 1rem;
}

.right-menu {
    padding-left: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    padding: 10px;
    box-shadow: 0 0 10px #e0e0e0;
}

.top {
    position: relative;
}

.discounted {
    color: var(--boolando-discount);
}

.card .original {
    text-decoration:line-through;
}

.card .top .back {
    display: none;
}

.card:hover .top .back {
    display: inline-block;
}

.card:hover .top .front {
    display: none;
}

.card .like {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 1;
}

.tags {
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.discount,
.category {
    padding: 0.25rem;
}
/* end-cards */
/* end-region main */

/* region footer */
footer {
    padding: 1rem 0;
    background-color: var(--boolando-footer);
    color: white;
}

h4,
h5 {
    margin-bottom: 0.5rem;
}

a {
    color: white;
    text-decoration: none;
}

.company a {
    padding-right: 0.5rem;
}

.socials a {
    padding-left: 0.5rem;
}

#between-footer {
    justify-content: space-between;
}
/* end-region footer */