/* common region */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    justify-content: center;
    display: flex;
}

.container {
    display: flex;
}

.width{
    width: 70%;
}
/* end-common region */

/* utility */
:root {
    --boolando-header: #ff6900;
    --boolando-discount: #ff0000;
    --boolando-sustainable: #008000;
    --boolando-footer: #1a1a1a;
}
/* end-utility */

/* region debug */
.debug * {
    border: 1px dashed;
}

.debug #main-menu{
    padding: 2rem 0rem;
    justify-content: space-between;
    width: 70%;
}
/* debug main */
.debug .product{
}
/* end-debug main */
/* end-region debug */

/* region header */
#color-header{
    background-color: var(--boolando-header);
}
/* end-region header */

/* region main */
.product {
    position: relative;
}

.discount {
    position: absolute;
}

main{
    width: 70%;
    justify-content: center;
}

img {
    width: 100%;
    height: 90%;
}
/* end-region main */